body {
    padding: 0;
    margin: 0;
    background-color: rgb(5, 39, 5);
}

.navbar {
    position: sticky;
    top: 0px;
    border: 2px solid black;
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

}

.logo {
    width: 211px;
    height: auto;
    padding: 15px 40px;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    line-height: 70px;
}

.navbar ul li a {
    text-decoration: none;
    padding: 15px;
    margin-right: 45px;
    color: white;
    font-size: larger;
}

.navbar ul li a.active:hover {
    background: rgb(95, 161, 95);
    color: white;
    border-radius: 2px;
}

.types {
    position: static;
    top: 80px;
    margin: 130px 200px 0 480px;
    padding: 30px 30px 30px 30px;
    width: 300px;
    height: 150 px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    color: white;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

/* Staff & Admin Login Stylesheet : */

.bg {
    background: url(img/staff-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 100px 0 480px;
    padding: 0px 30px 0 30px;
    width: 380px;
    height: 330px;
    text-align: center;
}


h2 {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
 }

.login {
    color: white;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.811);
    border: 3px solid white;
    border-radius: 15px;
    padding-bottom: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    width: 230px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
#abs {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
 }

 #id {
    text-decoration: none;
    font-size: 15px;
 }
